<markdown>
## UrizaAngular
#### AngularJS Test App
A Markdown blog with syntax highlighting using marked.js and highlight.js.

Components:

* Bootstrap
* marked.js
* highlight.js - ir_black.css theme

marked.js directive
```javascript
angular.module('urizaAngularApp', [...])
	.directive('markdown', ['$window', function($window) {
		var marked = $window.marked;
		var hljs = $window.hljs;

		var md = function () {
		    marked.setOptions({
		        gfm:true,
		        pedantic:false,
		        sanitize:true,
		        // callback for code highlighter
		        highlight:function (code, lang) {
		            if (lang != undefined) {
		                var test = hljs.highlight(lang, code).value;
					}
					else {
		            	var test = hljs.highlightAuto(code).value;
					}
					return '<hljs>' + test + '</hljs>';
		        }
		    });

		    var toHtml = function (markdown) {
		        if (markdown == undefined)
		            return '';

		        return marked(markdown);
		    };

		    hljs.tabReplace = '    ';

		    return {
		        toHtml:toHtml
		    };
		}();

	    return {
	        restrict: 'E',
	        link: function(scope, element) {
	            var markdown = element.text();
                var html = md.toHtml(markdown);
                element.html(html);
				element.find('code').addClass('hljs');
	        }
	    };
	}]);directive('markdown', ['$window', function($window) {
		var marked = $window.marked;
		var hljs = $window.hljs;

		var md = function () {
		    marked.setOptions({
		        gfm:true,
		        pedantic:false,
		        sanitize:true,
		        // callback for code highlighter
		        highlight:function (code, lang) {
		            if (lang != undefined) {
		                var test = hljs.highlight(lang, code).value;
					}
					else {
		            	var test = hljs.highlightAuto(code).value;
					}
					return '<hljs>' + test + '</hljs>';
		        }
		    });

		    var toHtml = function (markdown) {
		        if (markdown == undefined)
		            return '';

		        return marked(markdown);
		    };

		    hljs.tabReplace = '    ';

		    return {
		        toHtml:toHtml
		    };
		}();

	    return {
	        restrict: 'E',
	        link: function(scope, element) {
	            var markdown = element.text();
                var html = md.toHtml(markdown);
                element.html(html);
				element.find('code').addClass('hljs');
	        }
	    };
	}]);
```
/markdown></markdown>