<div class="row uriza-navigation">
        <div class="col-xs-4">
            <a ng-href="#" type="button" class="btn btn-default btn-lg btn-block" ng-class="{ active: route.current.activeTab === 'main' }">
                <h1><span class="glyphicon glyphicon-home"></span></h1>
                <span class="hidden-xs">urizaAngular</span>
            </a>
        </div>
        <div class="col-xs-4">
            <a ng-href="#/gallery" type="button" class="btn btn-primary btn-lg btn-block" ng-class="{ active: route.current.activeTab === 'gallery' }">
                <h1><span class="glyphicon glyphicon-picture"></span></h1>
                <span class="hidden-xs">Gallery</span>
            </a>
        </div>
        <div class="col-xs-4">
            <a ng-href="#/posts" type="button" class="btn btn-primary btn-lg btn-block" ng-class="{ active: route.current.activeTab === 'posts' }">
                <h1><span class="glyphicon glyphicon-file"></span></h1>
                <span class="hidden-xs">Posts</span>
            </a>
        </div>
    </div>